.signin-page {
    max-width: 300px;
    margin: 50px 0;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
   background: linear-gradient(rgb(150, 220, 227),rgb(177, 167, 248));
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  
  .signin-page h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  .signin-page label {
    display: block;
    margin: 20px 0 10px 0;
  }
  
  .signin-page button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signin-page button:hover {
    background-color: #0056b3;
  }